[Unit]
Description=Timer for Sechkrootkit.

[Timer]
OnBootSec=10min
OnUnitActiveSec=1d
Unit=sechkrootkit.service

[Install]
WantedBy=multi-user.target

